<section class="mb-4">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-start">
    <div class="fw-bold me-md-3">{{title}}</div>
    {{#if date}}<div class="text-md-end text-muted">{{date}}</div>{{/if}}
  </div>
  {{#if subtitle}}<div class="fst-italic">{{subtitle}}</div>{{/if}}
  {{#if items}}
  <ul class="mt-2">
    {{#each items}}<li>{{this}}</li>{{/each}}
  </ul>
  {{/if}}
</section>
