<footer class="mt-auto py-4 text-muted small">
  <div class="container px-4 text-start">
    <div class="mb-2 fw-bold fs-4">Jiali Guo, MPH (郭珈利)</div>
    <div class="mb-2 fs-6">jiali.guo[#]gmail.com</div>
    <div class="mb-3 fs-6">
      <a href="https://diabetes.emory.edu/" class="text-decoration-none nav-link">Emory Global Diabetes Research Center</a>
      <a href="https://sph.emory.edu/departments/gh/index.html" class="text-decoration-none nav-link">Hubert Department of Global Health</a>
      <a href="https://www.emory.edu/" class="text-decoration-none nav-link">Emory University</a>
      Atlanta, GA USA
    </div>
    <div class="fst-italic fs-7">
      <div>With will and grit, no goal is unreachable.</div>
      <div>苦心人天不负 破斧沉舟 三千越甲可吞吴</div>
    </div>
  </div>
</footer>
