<h2>Contact</h2>
<h5 class="serif">Here is how to find me:</h5>

<dl class="row mb-2">
  <dt class="col-sm-2">Email</dt>
  <dd class="col-sm-10">
    TBD
  </dd>
</dl>

<dl class="row mb-2">
<dt class="col-sm-2">Online Profiles</dt>
<dd class="col-sm-10">
  <div class="">

    <a
      href="https://www.linkedin.com/in/jialiguodaisy"
      class="list-group-item list-group-item-action py-1 nav-link"
      target="_blank"
      rel="noopener"
    >
      <i class="fab fa-linkedin me-2"></i>
      LinkedIn
    </a>

    <a
      href="https://orcid.org/0009-0008-3907-0555"
      class="list-group-item list-group-item-action py-1 nav-link"
      target="_blank"
      rel="noopener"
    >
      <i class="fab fa-orcid me-2"></i>
      ORCID
    </a>

    <a
      href="https://scholar.google.com/citations?user=sRnfrUcAAAAJ&hl=en"
      class="list-group-item list-group-item-action py-1 nav-link"
      target="_blank"
      rel="noopener"
    >
      <i class="fas fa-graduation-cap me-2"></i>
      Google Scholar
    </a>

    <a
      href="#"
      class="list-group-item list-group-item-action py-1 disabled nav-link"
    >
      <i class="fab fa-researchgate me-2"></i>
      ResearchGate (TBD)
    </a>

    <a
      href="#"
      class="list-group-item list-group-item-action py-1 disabled nav-link"
    >
      <i class="fab fa-youtube me-2"></i>
      YouTube (TBD)
    </a>

  </div>
</dd>
</dl>

<dl class="row mb-2">
  <dt class="col-sm-2">Affiliations</dt>
  <dd class="col-sm-10">
    <ol class="ps-3 mb-0">
      <li>
    <a href="https://diabetes.emory.edu/" target="_blank" rel="noopener" class="text-decoration-none">
      Emory Global Diabetes Research Center</a> <br>
    of the 
    <a href="https://whsc.emory.edu/" target="_blank" rel="noopener" class="text-decoration-none">
      Woodruff Health Sciences Center</a><br>
    and 
    <a href="https://www.emory.edu/home/index.html" target="_blank" rel="noopener" class="text-decoration-none">
      Emory University</a>,<br> Atlanta, GA, USA.
  </li>
  <li>
    <a href="https://sph.emory.edu/departments/gh/index.html" target="_blank" rel="noopener" class="text-decoration-none">
      Hubert Department of Global Health</a><br>
    of the 
    <a href="https://sph.emory.edu/" target="_blank" rel="noopener" class="text-decoration-none">
      Rollins School of Public Health</a> <br>at 
    <a href="https://www.emory.edu/home/index.html" target="_blank" rel="noopener" class="text-decoration-none">
      Emory University</a>, <br>Atlanta, GA, USA.
  </li>
      </ol>
  </dd>

</dl>

<dl class="row mb-2">

  <dt class="col-sm-2">Address</dt>
  <dd class="col-sm-10">
    <a href="https://maps.app.goo.gl/FPkSuqAhtrAiAQjs5" target="_blank" rel="noopener" class="text-decoration-none">
    1518 Clifton Rd NE,<br>
    Atlanta, GA 30322, USA
    </a>
  </dd>

  
</dl>