<section class="hero-section row d-flex align-items-center">
  <!-- TEXT COLUMN -->
  <section class="col-12 col-md-8">
    <h1 class="mb-3 mt-5">
      Hello, I am Jiali.
    </h1>
    <p class="hero-subtitle mb-4 fw-bold">I am currently pursuing Ph.D. opportunities in biomedical informatics and pharmacoepidemiology for the upcoming year.</p>
    <p class="hero-subtitle mb-4">
      I am a Biostatistician at Emory, specializing in chronic disease epidemiology, biomedical informatics, and health equity, with a focus on diabetes and metabolic disorders. Trained in pharmacy (BS) and biostatistics (MPH, Emory), I apply advanced statistical modeling, longitudinal data analysis, and EHR-based research to study disease subtypes, biomarker trajectories, and treatment outcomes. With multiple first-author publications and experience leading cross-disciplinary collaborations, I bring strong discipline, time management, and analytical skills to projects that bridge methodological rigor with real-world impact. 
    </p>  
    <p class="hero-subtitle mb-4">
      I’m drawn to patterns that live beneath the surface, to questions that challenge assumptions, and to the possibility that data — when used thoughtfully — can lead to more just, precise, and human-centered healthcare.
    </p>
    <p class="hero-subtitle mb-4">
      My mission is simple and steady: to make sense of complexity, to illuminate disparities, and to contribute to a science that respects both numbers and lives.
    </p>
  </section>

  <!-- IMAGE COLUMN -->
  <aside class="col-12 col-md-4 mb-4">
    <img
      src="/assets/images/profile.png"
      alt="Jiali's profile picture"
      class="img-fluid rounded"
    >
  </aside>
</section>