<section class="hero-section row d-flex align-items-center">
  <!-- TEXT COLUMN -->
  <section class="col-12 col-md-8">
    <h1 class="mb-3 mt-5">
      Hello, I am Jiali, and I am actively seeking a Ph.D. opportunity.
    </h1>
    <p class="hero-subtitle mb-4">
      A quiet thinker with a deep respect for nature, I approach both life and science with curiosity, care, and purpose. With a background in pharmacy and biostatistics, I now work as a biostatistician at the Emory Global Diabetes Research Center. My research lies at the intersection of chronic disease epidemiology, biomedical informatics, and health equity — with a special focus on diabetes and metabolic disorders.
    </p>  
    <p class="hero-subtitle mb-4">
      I’m drawn to patterns that live beneath the surface, to questions that challenge assumptions, and to the possibility that data — when used thoughtfully — can lead to more just, precise, and human-centered healthcare.
    </p>
    <p class="hero-subtitle mb-4">
      My mission is simple and steady: to make sense of complexity, to illuminate disparities, and to contribute to a science that respects both numbers and lives.
    </p>
  </section>

  <!-- IMAGE COLUMN -->
  <aside class="col-12 col-md-4 mb-4">
    <img
      src="/assets/images/profile.png"
      alt="Jiali's profile picture"
      class="img-fluid rounded"
    >
  </aside>
</section>