@use "sass:color";

@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@400;700&family=Kotta+One&display=swap');

body {
  font-family: 'Kantumruy Pro', sans-serif;
  background-color: #FFFBEE;
  color: #0a0a0a;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Kantumruy Pro', sans-serif;
  font-weight: 600;
}

.navbar-nav .nav-link.active {
  color: #D05E12 !important;
  font-weight: 600;
}

footer {
  font-family: 'Kantumruy Pro', sans-serif;
  text-align: center;
  padding: 1rem 0;
}

.serif {
  font-family: 'Kotta One', serif;
}

.nav-link, a {
  color: #D05E12;

  &:hover {
    color: color.adjust(#D05E12, $lightness: -10%);
  }
}

.cv-border-bottom {
  border-bottom: #0a0a0a 1px solid;
}

.mw-100 {
  min-width: 100px;
}